@import "../layout/flex";
@import "../utils/mixins";

// animation
@mixin slide-up($duration, $delay) {
    position: relative;
    animation: slide-up $duration $delay forwards;
    @keyframes slide-up {
        0% {opacity: 0; top: 80px;}
        100% {opacity: 1; top: 0px;}
    }
}
@mixin slide-down($duration, $delay) {
    position: relative;
    animation: slide-down $duration $delay forwards;
    @keyframes slide-down {
        0% {opacity: 0; top: -80px;}
        100% {opacity: 1; top: 0px;}
    }
}
@mixin smoke-animate() {
    animation: smoke 5s infinite;
    @keyframes smoke {
        0% {opacity: 0;}
        50% {opacity: 1;}
        100% {opacity: 0; top: 200px;}
    }
}

.showcase {
    height: 100vh;
    @include flex-x(center);
    .home-bg {
        background: url("../../../dist/images/home-bg.png") center center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .ad {
        z-index: 1;
        height: 300px;
        width: 70%;
        flex-direction: column;
        @include center(y, relative);
        @include media-query-mobile(768px) {
            flex-direction: row-reverse;
            @include flex-x(between);
            width: 100%;
            @include container(medium);
        }
        @include media-query-mobile(1200px) {
            height: 400px;
            @include container(large);
        }
        .price {
            width: 150px;
            height: 150px;
            background: $primary;
            border-radius: 50%;
            @include center(x, relative);
            @include media-query-mobile(768px) {
                left: auto;
                transform: none;
            }
            opacity: 0;
            @include slide-up(1s, 1.75s);
            div {
                @include center(z, absolute);
                h3 {
                    font-family: $title;
                    color: $secondary;
                    text-align: center;
                }
                h1 {
                    font-family: $special;
                    font-size: 3rem;
                    color: $white;
                    span {
                        font-size: 2rem !important;
                        position: relative;
                        bottom: 5px;
                    }
                }
            }
        }
        .showcase-ad {
            @include flex-y(center);
            @include flex-x(between);
            @include media-query-mobile(768px) {
                @include flex-y(start);
            }
            .title {
                opacity: 0;
                @include slide-down(1s, 0.5s);
            }
            h1 {
                color: $white;
                font-family: $title;
                font-size: 2rem;
                line-height: 1.1;
                padding-bottom: 20px;
                text-align: center;
                opacity: 0;
                letter-spacing: 1px;
                @include slide-up(1s, 1s);
                @include media-query-mobile(768px) {
                    text-align: left;   
                    font-size: 3rem;
                    padding: 20px 0px 40px 0px;
                }
                @include media-query-mobile(1200px) {
                    font-size: 5rem;
                }
            }
            button {
                opacity: 0;
                @include slide-up(1s, 1.25s);
            }
        }
    }
    .smoke-wrap {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        @include flex-x(center);
        @include media-query-desktop(399px) {
            @include center(x, absolute);
        }
        .smoke {
            @include center(y, absolute);
            @include smoke-animate();
            margin-top: 150px;
            img {
                position: relative;
            }
            img:nth-child(1) {
                @include media-query-mobile(768px) {
                    margin-left: 50px;
                }
            }
            img:nth-child(2) {
                @include media-query-mobile(768px) {
                    margin-bottom: 150px;
                }
            }
        }
        .smoke:nth-child(2), .smoke:nth-child(3) {
            bottom: 150px;
            @include media-query-mobile(768px) {
                margin-left: 50px;
                bottom: 50px;
            }
        }
    }
}
main {
    background-color: $white;
    position: relative;
    z-index: 2;
    .about {
        overflow: hidden;
        padding: 3rem 0 0 0 !important;
        .section-wrap {
            position: relative;
            z-index: 3;
            .burger {
                margin: 0 auto;
                position: relative;
                .side-info {
                    display: none;
                    width: 75px;
                    left: -70px;
                    @include center(y, absolute);
                    img {
                        width: 100%;
                    }
                    @include media-query-mobile(768px) {
                        display: block;
                    }
                }
                img {
                    width: 100%;
                    @include media-query-mobile(768px) {
                        width: 530px;
                    }
                    @include media-query-mobile(1024px) {
                        width: 456px;
                    }
                }
            }
            .description {
                @include media-query-mobile(1200px) {
                    position: relative;
                    top: 70px;
                }
                p {
                    font-size: 17px;
                }
                ul {
                    font-size: 0.9rem;
                    font-family: $text;
                    line-height: 1.85;
                    color: #797979;
                    margin: 0.5rem 5% 1.5rem 5%;
                    li {
                        list-style: disc;
                        padding: 4px 0;
                        letter-spacing: .5px;
                    }
                }
                button {
                    width: 170px;
                }
            }
        }
    }
    .promotion {
        overflow: hidden;
        @include media-query-mobile(1024px) {
            .promo-item + .promo-item {
                padding-left: 20px;
            }
        }
        .promo-item {
            width: 100%;
            height: 300px;
            padding: 10px 0;
            position: relative;
            h1 {
                position: absolute;
                font-family: $title;
                color: $white;
                letter-spacing: 1px;
                font-weight: lighter;
                line-height: 1.7rem;
                padding: 30px;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .menu {
        .description {  
            .title {
                @include center(x, relative);
            }
            h1 {
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
        .section-wrap {
            @include media-query-mobile(1024px) {
                .menu-item + .menu-item {
                    padding-left: 20px;
                }
            }
            .menu-item {
                width: 100%;
                text-align: center;
                img {
                    width: 320px;
                    @include media-query-mobile(1024px) {
                        width: 100%;
                    }
                    @include media-query-desktop(365px) {
                        width: 250px;
                    }
                    transition: 0.5s all;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                h3 {
                    font-family: $title;
                    color: $dark;
                    letter-spacing: 0.5px;
                    span {
                        color: $primary;
                        padding: 0 10px;
                    }
                }
                p {
                    color: $semi;
                    font-family: $text;
                    font-size: 15px;
                    padding: 20px 0;
                }
            }
        }
        .container {
            @include flex-x(center);
            button {
                margin-top: 5rem;
            }
        }
    }
    .testimonials {
        position: relative;
        margin: 0 auto;
        .paint-stroke {
            top: -10px;
        }
        .quote {
            height: 560px;
            background: url("../../../dist/images/black.png");
            background-repeat: no-repeat;
            background-size: cover;
            @include media-query-mobile(1024px) {
                width: 50%;
            }
            .quotation-mark {
                position: relative;
                top: 20%;
                i {
                    color: $secondary;
                    @include center(x, relative);
                    font-size: 45px;
                }
            }
            .carousel {
                @include center(y, relative);
                .carousel-item {
                    p {
                        color: $white;
                        text-align: center;
                        font-family: $text;
                        font-size: 18px;
                        padding: 55px 10%;
                        &:hover {
                            cursor: grab;
                        }
                        @include media-query-mobile(600px) {
                            font-size: 28px;
                        }
                    }
                    h3 {
                        color: $light;
                        font-family: $title;
                        font-size: 15px;
                        letter-spacing: 1px;
                        text-align: center;
                        @include media-query-mobile(600px) {
                            font-size: 20px;
                        }
                        span {
                            margin-right: 10px;
                        }
                    }
                }
                .slick-dots {
                    margin-top: 55px;
                    @include flex-x(center);
                    li {
                        margin: 5px 8px;
                        button {
                            font-size: 0;
                            width: 11px;
                            height: 11px;
                            border: none;
                            border-radius: 50%;
                            background: $semi;
                        }
                    }
                    .slick-active {
                        button {
                            background: $secondary;
                        }
                    }
                }
            }
        }
        .testimonial-img {
            margin-top: 24px;
            @include media-query-mobile(1024px) {
                width: 50%;
                margin-top: 0;
                height: 560px;
            }
            img {
                width: 100%;
                @include media-query-mobile(1024px) {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .instagram {
        .description {
            .title {
                @include center(x, relative);
            }
            h1, p {
                text-align: center;
            }
        }
    }
}