.menu-showcase {
    background: url("../../../dist/images/menu.png");
}
.menu-main {
    .entrees {
        .description {
            .title {
                @include center(x, relative);
            }
            h1, p {
                text-align: center;
            }
        }
        .section-wrap {
            flex-direction: column;
            @include media-query-mobile(1200px) {
                flex-direction: row;
            } 
            .menu-item {
                display: flex;
                @include media-query-mobile(1200px) {
                    width: 50%;
                }
                .menu-img {
                    width: 30%;
                    @include media-query-mobile(500px) {
                        width: 135px;
                    }
                    img {
                        width: 100%;
                    }
                }
                .menu-description {
                    width: 70%;
                    .section-wrap {
                        justify-content: flex-start;
                        padding-top: 0;
                        position: relative;
                        @include media-query-mobile(1024px) {
                            flex-direction: row !important;
                        }
                        h3 {
                            font-family: $title;
                            letter-spacing: 1px;
                        }
                        .name {
                            font-size: 22px;
                            color: $dark;
                            margin-bottom: 0.25rem;
                        }
                        span {
                            height: 1px;
                            border-bottom: 1px dashed $semi;
                            width: 100%;
                            margin-bottom: 1rem;
                            @include media-query-mobile(1024px) {
                                position: relative;
                                top: 15px;
                                margin: 0 30px; 
                            }
                            @include media-query-mobile(1200px) {
                                position: relative;
                                top: 15px;
                                margin: 0 30px; 
                                width: 180px;
                            }
                        }
                        .price {
                            font-size: 20px;
                            color: $primary;
                        }
                    }
                    p {
                        font-family: $text;
                        color: $semi;
                        font-size: 14px;
                        line-height: 1.8;
                    }
                }
            }
        }
    }
}