@mixin flex-x($arrange) {
    display: flex;

    @if ($arrange == "start") {
        justify-content: start;
    } @else if ($arrange == "end") {
        justify-content: flex-end;
    } @else if ($arrange == "center") {
        justify-content: center;
    } @else if ($arrange == "between") {
        justify-content: space-between;
    } @else if ($arrange == "around") {
        justify-content: space-around;
    } @else if ($arrange == "even") {
        justify-content: space-evenly;
    }
}
@mixin flex-y($arrange) {
    display: flex;
    flex-direction: column;

    @if ($arrange == "start") {
        align-items: flex-start;
    } @else if ($arrange == "end") {
        align-items: flex-end;
    } @else if ($arrange == "center") {
        align-items: center;
    } @else if ($arrange == "between") {
        align-items: space-between;
    } @else if ($arrange == "around") {
        align-items: space-around;
    } @else if ($arrange == "even") {
        align-items: space-evenly;
    }
}